!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title
      SNOWPEA : 
      - if @title
        = @title
      - else
        Listen to Podcasts, right in your browser
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/thickbox.css', :type => 'text/css', :media => 'screen' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/snowpea.css', :type => 'text/css', :media => 'screen' }
    %script{ :src => '/javascripts/jquery.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/jquery-ui.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/thickbox.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/snowpea.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/soundmanager2.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/mushroom.js', :type => 'text/javascript' }
    %script{ :type => 'text/javascript' }
      soundManager.url = "/swf";
      soundManager.debugMode = false;
      soundManager.onload = function() { $('#player').mushroom(); };
    %script{ :src => 'http://snowpea.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=8b4513', :type => 'text/javascript' }
  %body
    = haml :header, :layout => :none
    - if @notice
      #notice
        #close
          %a{ :href => '#' } close
        = @notice
    = yield
    = haml :footer, :layout => :none