#listen
  #info
    %h1.logo_mid
      %a{ :href => '/', :title => 'SNOWPEA' } SNOWPEA
  
    %h2= @title
    %h3
      %a{ :href => "#{@podcast_url}", :title => "#{@title}" }
        = @podcast_url
    #more-info
      - if @image and not @image.empty?
        #image
          %img{ :src => @image, :width => '125px', :align => 'right' }
      #description
        %h4 Description
        = @description
    %center#more-info-link
      %a{ :href=> '#' }
        %img#more-info-arrow{ :src => '/images/arrow.gif', :alt => 'More info' }

  #player
    %div
      %span.back &larr;
      %span.play play
      %span.pause pause
      %span.stop stop
      %span.stop &rarr;
      
    .status
      .loading
      .progress
        .progress-handle
    
    .volume
      .volume-handle

    %ul.playlist
      - @casts.each do |cast|
        %li
          %a{ :href => cast.url, :onclick => 'return false' }
            = cast.title
